{% extends "demoapps/base.html" %}
    {% load static %}
{% block css %}
    <link href="{% static '/demoapps/asset/css/content/jquery-ui.min.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
    {#<div class="col-sm-2">#}
{#  <input class="btn btn-success" type="button" onclick="connect()" value="开始监听"/><br/>#}
{#</div>#}
{#<div class="col-sm-2">#}
{#  <input class="btn btn-warning btn-block" type="button" onclick="goclose()" value="终止监听"/><br/>#}
{#</div>#}

<div class="col-sm-12">
  <textarea class="form-control" id="chat-log" disabled rows="30"></textarea>
</div>

{% endblock %}
{% block js %}

    <script type="text/javascript" src="{% static '/demoapps/asset/js/jquery-ui.min.js' %}"></script>
 <script>
 $.ajax({
  method: "get",
  url:"{% url 'jenkins_a-url:job-build-console-input-api' name number %}",
    success:
  function(data) {
      build_console_output = data.build_console_output;
      document.querySelector('#chat-log').value += build_console_output;
        $('#chat-log').scrollTop($('#chat-log')[0].scrollHeight);

  }
 })


var s = setInterval(reload_console_log, 1000)


 function reload_console_log(){
      $.ajax({
      method: "get",
      url:"{% url 'jenkins_a-url:job-build-console-input-api' name number %}",
        success:
      function(data) {
          build_console_output = data.build_console_output;
            document.querySelector('#chat-log').value += build_console_output + '\n';
          $('#chat-log').scrollTop($('#chat-log')[0].scrollHeight);
          if (data.building==false){
                clearTimeout(s);}
      }
     })
 }
{# while (true){#}
{#     sleep#}
{#$.ajax({#}
{#      method: "get",#}
{#      url:"{% url 'jenkins_a-url:job-build-console-input-api' name number %}",#}
{#        success:#}
{#      function(data){#}
{#          bcl  = data.build_console_output_list;#}
{#          for (var i=0; i<bcl.length; i++){#}
{#            document.querySelector('#chat-log').value += bcl[i] + '\n';#}
{#              }#}
{#          if (data.building==false){#}
{#              break;#}
{#          };#}
{#        }#}
{#  });#}
{#}#}

{#var v = "{{ build_console_output_list }}";#}
{#console.log(v)#}
{#console.log(JSON.parse(v));#}
{#{% for output in build_console_output_list%}#}
{#    console.log("{{ output }}")#}
{#    document.querySelector('#chat-log').value += "{{ output }}\n";#}
{#{% endfor %}#}


    </script>
        {% endblock %}