{% extends "demoapps/base.html" %}
{% block content %}
        <div class="col-sm-2">
        <a class="btn btn-success" href="{% url 'jenkins_a-url:job-create' %}">添加任务</a>
    </div>
<div class="container-fluid">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>名称</th>
				<th>上次成功</th>
                <th>上次失败</th>
				<th>管理</th>
			</tr>
		</thead>
		<tbody>
            {% for job in jobs %}
			<tr>
				<td>{{ job.name }}</td>
				<td>
                    {% if job.lastSuccessfulBuild %}
                        {{ job.lastSuccessfulBuild.datetime }} - {{ job.lastSuccessfulBuild.number }}
                    {% else %}
                        没有
                    {% endif %}
                </td>
				<td>
                    {% if job.lastFailedBuild %}
                        {{ job.lastFailedBuild.datetime }} - {{ job.lastFailedBuild.number }}
                    {% else %}
                        没有
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-info" href="{% url 'jenkins_a-url:job-config-update' job.name %}">修改配置</a>
                    <button class="btn btn-primary" onclick="job_build('{{ job.name }}')">构建</button>
                    <a class="btn btn-danger" id="clickmodel" data-whatever="{% url 'jenkins_a-url:job-delete' job.name %}">删除</a>
{#                    <a class="btn btn-danger" data-toggle="modal" data-target="#myModal">删除</a>#}
                    {% if job.lastBuild %}
                    <a class="btn btn btn-default" href="{% url 'jenkins_a-url:job-build-list' job.name %}">查看构建历史</a>
                    {% endif %}
                </td>
			</tr>
            {% endfor %}
		</tbody>
	</table>


 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">删除提示</h4>
            </div>
            <div class="modal-body">你确定删除吗?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger"  onclick="" id="bt_delete">确认删除</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
</div>
{% endblock %}
{% block js %}
<script>
function job_build(name) {
    var url = "{% url 'jenkins_a-url:get-job-build' %}"
    $.post(
        url,
        {name: name, csrfmiddlewaretoken: "{{ csrf_token  }}"
        },
        function (data, status) {
            if (data['succes']==true){
                alert('已提交构建')
            }else{
                alert('构建失败' + data['error'])
            }
        }
    )

}

$('#clickmodel').bind('click',function(){
    //这里获取到了data-whatever属性
    var url = $(this).data('whatever');
    $("#bt_delete").attr('onclick', "delete_event('"+ url + "')");
    $('#myModal').modal("show");


})
function delete_event(url) {
    $.ajax({
        url:url,
        method:'get',
        success:function(result){
            location.reload()
        },
        error:function (er) {
            console.log(er)
            $(".modal-body").html('服务器错误 '+er)
        }
    });
}
</script>
{% endblock %}