{% extends "demoapps/base.html" %}
{% block content %}
        <div class="col-sm-2">
        <a class="btn btn-success" href="{% url 'jenkins_a-url:job-create' %}">添加任务</a>
    </div>
<div class="container-fluid">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>名称</th>
				<th>上次成功</th>
                <th>上次失败</th>
				<th>管理</th>
			</tr>
		</thead>
		<tbody>
            {% for job in jobs %}
			<tr>
				<td>{{ job.name }}</td>
				<td>
                    {% if job.lastSuccessfulBuild %}
                        {{ job.lastSuccessfulBuild.datetime }} - {{ job.lastSuccessfulBuild.number }}
                    {% else %}
                        没有
                    {% endif %}
                </td>
				<td>
                    {% if job.lastFailedBuild %}
                        {{ job.lastFailedBuild.datetime }} - {{ job.lastFailedBuild.number }}
                    {% else %}
                        没有
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-info" href="{#% url 'asset-url:asset-update' object.id %#}">修改配置</a>
                    <a class="btn btn-primary" href="{#% url 'asset-url:asset-update' object.id %#}">构建</a>
                    <a class="btn btn-danger" id="clickmodel" data-whatever="{#% url 'asset-url:asset-delete' object.id %#}">删除</a>
{#                    <a class="btn btn-danger" data-toggle="modal" data-target="#myModal">删除</a>#}
                    {% if job.lastBuild %}
                    <a href="{% url 'jenkins_a-url:job-build-list' job.name %}">查看构建历史</a>
                    {% endif %}
                </td>
			</tr>
            {% endfor %}
		</tbody>
	</table>


 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">删除提示</h4>
            </div>
            <div class="modal-body">你确定删除吗?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger"  onclick="" id="bt_delete">确认删除</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
</div>
{% endblock %}