{% extends 'demoapps/base.html' %}
{% load static %}
{% block css %}
<link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://magicbox.bk.tencent.com/static_api/v3/assets/datatables-1.10.7/dataTables.bootstrap.css" rel="stylesheet"/>
<link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
{% endblock %}

{% block content %}
 <div class="king-layout1-content" style="margin-left:240px;margin-right: 20px">

{#    <div class="col-lg-6 col-xs-12 ml0 pl0">#}
        <div class="panel panel-default">
          <div class="box">
            <div class="box-header">
            </div>
            <!-- /.box-header -->
{#                  <div class="king-block-header king-gray-light">#}
{#                </div>#}
            <div class="box-body">
                <div id="select_box" style="">
                    <select class="select2_box" style="width:200px;" id="_jk_conf">
                          {% for  object in objects %}
                              <option value="{{ object.pk }}">{{ object }}</option>
                          {% endfor %}
                    </select>
                    <select class="select2_box" style="width:200px; display: none" id="job_select">
                    </select>
                </div>
                {% if errors %}
                <font style="color: red">{{ errors }}</font>

                {% endif %}
            <font style="color: red">{{ res }}</font>
                <table id="example1" class="table table-hover mb0"></table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
{#    </div>#}
    <!-- /.col -->

 </div>
{% endblock %}
<!-- ./wrapper -->

<!-- jQuery 3 -->
{% block js %}
<script src="https://magicbox.bk.tencent.com/static_api/v3/assets/datatables-1.10.7/jquery.dataTables.js"></script>
<script src="https://magicbox.bk.tencent.com/static_api/v3/assets/datatables-1.10.7/dataTables.bootstrap.js"></script>
<script src="{% static '/demoapps/js/index.js' %}"></script>

<script>
$(function () {
    reload_job_name();
    var language = {
      search: '搜索：',
      {#lengthMenu: "每页显示 _MENU_ 记录",#}
      zeroRecords: "没找到相应的数据！",
      info: "分页 _PAGE_ / _PAGES_",
      infoEmpty: "暂无数据！",
      {#infoFiltered: "(从 _MAX_ 条数据中搜索)",#}
      processing : "正在获取数据，请稍后...",
      deferRender:true,//当处理大数据时，延迟渲染数据，有效提高Datatables处理能力
      {#loadingRecords: '正在获取数据，请稍后...',#}
      loadingRecords: '正在获取数据，请稍后...',
      paginate: {
        first: '首页',
        last: '尾页',
        previous: '上一页',
        next: '下一页',
      }
    };
    var datatable_config = {
      autoWidth: false,
      searching: false, //关闭搜索
      lengthChange: false, //不允许用户改变表格每页显示的记录数
      pageLength : 10, //每页显示几条数据
      {#lengthMenu: [5, 10, 20], //每页显示选项#}
      pagingType: 'full_numbers',
      {#ajax : "{% url 'jenkins_a-api-url:job-building-list' %}",#}
      ordering: true,
      aoColumnDefs: [ { "bSortable": false, "aTargets": [ 4 ] }],
      columns : [
        {title: "# id", data:"number"},
        {title: "任务", data:"name"},
        {title: "状态", render: function () {
          return "构建失败";
        }},
        {title: "时间", data:"time"},
        {
          title: "上次成功时间",
          render: function (data, type, row, meta) {
            if (row.last_successful){
              return row.last_successful.time
            }else{
              return '无'
            }
          }},
          {#{data:"office"},#}
          {#{data:"extn"},#}
        {
          title: '操作',
          orderable:false,
          render : function(data, type, row, meta){
            htm = "<button class=\"btn btn-success job_build\" >" + "构建"+
                "</button>&nbsp;"+
                "<button class=\"btn btn-danger delete\">" + "删除" +
                "</button>";
            return htm
          }
        },
          {
            orderable:false,
            render :function () {
              return "<i class=\"glyphicon glyphicon-chevron-down\" id=\"output_console_event\" style=\"color:silver\"></i>"
              {#return "<i class=\"glyphicon glyphicon-chevron-up\" style=\"color:silver\"></i>"#}
            }
          }
        ],
        language:language
    };
    var select_val = $("#job_select").val();
    if (select_val){
        datatable_config.ajax= {
            url: "{% url 'jenkins_a-api-url:job-build-failed-list' %}",
            data: function (t) {
              var select_val = $("#job_select").val();
              return {"job_name": select_val}
            },
            dataSrc: function ( json ) {
              return json;
            }
        }
    }
    $("#example1").dataTable(datatable_config);
    // 任务构建
    var t = $("#example1").DataTable();//获取datatables对象

    $("#example1 tbody").on('click', 'button.job_build', function () {
      var row = t.row($(this).parents('tr'));
      var data = row.data();
      $.ajax({
            url: "{% url 'jenkins_a-api-url:job-build' %}",
            type: 'POST',
            data: {
              name: data.name,
              csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: function (result) {
                if(result.success){
                    alert('构建发起成功.');
                    window.location.href="{% url 'jenkins_a-url:job-building-list' %}";
                }else{
                    alert('构建发起失败. 失败内容：' + result.error)
                }
            },
            error: function (err) {
                    response_500_alert(err)
                  }
                });
    });

    //删除按钮绑定事件
    $("#example1 tbody").on('click', 'button.delete', function(){
        var row = t.row($(this).parents('tr'));//获取按钮所在的行
        var data = row.data();
        if(confirm('确定要删除'+"任务: "+ data.name+"id: "+ data.number+' ?')){
          $.ajax({
            url: "{% url 'jenkins_a-api-url:job-build-delete' %}",
            type: 'POST',
            data: {
              name: data.name,
              number: data.number,
              csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            success: function (result) {
                if(result.success){
                    alert('删除成功.');
                    t.ajax.reload()
                }else{
                    alert('删除失败. 错误内容：' + result.error)
                }
            },
            error: function (err) {
              alert(toString(err))
            }
          })
        }

    });
    // 日志显示事件
    $("#example1 tbody").on('click', 'i#output_console_event', function(){
        build_faild_output_console_log_event(this, t);
    });
    // jenkins配置变动时触发事件
    $("#_jk_conf").change(function (re) {
        reload_job_name();
    });
    // 任务名称发生变动时触发事件
    $("#job_select").change(function (re) {
        t.ajax.reload()
    });
// 选择任务后重新加载数据

});
// 构建失败的日志查看
function build_faild_output_console_log_event(i_obj, t){
    var tr = $(i_obj).parents('tr');
    var row = t.row($(i_obj).parents('tr') ),//获取按钮所在的行
    data = row.data();
    var parameter = "?name=" + data.name + "&number=" + data.number;
    var ntr = $(tr).next();
    // 显示
    if($(i_obj).hasClass("glyphicon-chevron-down")){
        if(ntr.hasClass('detail')){
            ntr.attr('style', '');
            $(i_obj).attr('class', 'glyphicon glyphicon-chevron-up')
        }else {
            $.ajax({
                method: "get",
                url:"{% url 'jenkins_a-api-url:job-build-console-input-api' %}" + parameter,
                success: function(data) {
                    var build_console_output = data.build_console_output;
                    if (build_console_output) {
                      htm = "<tr class=\"detail\" style=\"\">\n" +
                                "<td colspan=\"7\">\n" +
                                    "<pre>" +
                                        build_console_output +
                                    "</pre>" +
                                "</td>\n" +
                            "</tr>";
                      $(tr).after(htm);
                      $(i_obj).attr('class', 'glyphicon glyphicon-chevron-up')
                    }
                },
                error: function (err) {
                  response_500_alert(err)
                }
            });
        }
    }
    // 隐藏
    else {
        $(i_obj).attr('class', 'glyphicon glyphicon-chevron-down');
        ntr.attr('style', 'display: none;')
    }
}

// 任务名列表下拉显示
function reload_job_name() {
  var jk_id = $("#_jk_conf").val();
  var job_select = $("#job_select");
  job_select.show();
  $.ajax({
    method: 'get',
    url: "{% url 'jenkins_a-api-url:job-name-list' %}",
    data: {'jk_id': jk_id},
    async: false,
    success: function (data) {
        job_select.empty();
        $.each(data, function(i, n){
          job_select.append("<option value='"+ n + "'>" + n + "</option>")
        });
    }
  })

}
</script>
{% endblock %}
