{% extends "demoapps/base.html" %}
    {% load static %}
{% block css %}
    <link href="{% static '/asset/css/content/jquery-ui.min.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="king-layout1-content" style="margin-left:216px;">
    <div class="col-sm-8">
    <select class="form-control", name="asset_id" id="searh_path">
                  {% for s_path in search_path_list %}
        <option value="{{ s_path }}">{{ s_path }}</option>
                  {% endfor %}
      </select>
{#        <input id="autocomplete-ajax" class="form-control" name="path" value="/data/xls/runtime/">#}
{#        <input type="text" name="country" id="autocomplete-ajax-x" disabled="disabled" style="color: #CCC; position: absolute; background: transparent; z-index: 1;"/>#}
{#        <input class="form-control" name="server_ip" value="{{ request.GET.server_ip }}", type="hidden">#}
    <input class="btn btn-success" type="button" onclick="connect()" value="开始监听"/>
    <input class="btn btn-warning" type="button" onclick="goclose()" value="终止监听"/><br/>
        {% if errors %}
        <font color="red">{{ errors }}</font>
        {% endif %}
    </div>

{#<div class="col-sm-2">#}
{#  <input class="btn btn-success" type="button" onclick="connect()" value="开始监听"/><br/>#}
{#</div>#}
{#<div class="col-sm-2">#}
{#  <input class="btn btn-warning btn-block" type="button" onclick="goclose()" value="终止监听"/><br/>#}
{#</div>#}

    <div class="col-sm-12">
      <textarea class="form-control" id="chat-log" disabled rows="40"></textarea>
    </div>
</div>

{% endblock %}
{% block js %}

    <script type="text/javascript" src="{% static '/asset/js/jquery-ui.min.js' %}"></script>
 <script>
/*global $, countries */

  {#$(function() {#}
  {#  function split( val ) {#}
  {#    return val.split();#}
  {#  }#}
  {#  function extractLast( term ) {#}
      {#return split( term ).pop();#}
  {#    return term;#}
  {#  }#}
  {##}
  {#  $( "#autocomplete-ajax" )#}
  {#    // 当选择一个条目时不离开文本域#}
  {#    .bind( "keydown", function( event ) {#}
  {#      if ( event.keyCode === $.ui.keyCode.TAB &&#}
  {#          $( this ).data( "ui-autocomplete" ).menu.active ) {#}
  {#        event.preventDefault();#}
  {#      }#}
  {#    })#}
  {#    .autocomplete({#}
  {#      source: function( request, response ) {#}
  {#        $.getJSON( "{% url 'asset-url:local-file' %}", {#}
  {#          local_path: extractLast(  "{{ root_path }}" + request.term )#}
  {#        }, response );#}
  {#      },#}
  {#      search: function() {#}
  {#        // 自定义最小长度#}
  {#        var term = extractLast( this.value );#}
  {#        if ( term.length < 1 ) {#}
  {#          return false;#}
  {#        }#}
  {#      },#}
  {#      focus: function() {#}
  {#        // 防止在获得焦点时插入值#}
  {#        return false;#}
  {#      },#}
  {#      select: function( event, ui ) {#}
  {#        var terms = split( this.value );#}
  {#        // 移除当前输入#}
  {#        terms.pop();#}
  {#        var default_path = "{{ root_path }}"#}
  {#        // 添加被选项#}
  {#        terms.push( ui.item.value.substring(default_path.length) );#}
  {#        // 添加占位符，在结尾添加逗号+空格#}
  {#        terms.push("");#}
  {#        this.value = terms.join("");#}
  {#        return false;#}
  {#      }#}
  {#    });#}
  {#});#}



  function connect() {
    document.querySelector('#chat-log').value = "";
    {#var path =  $('#autocomplete-ajax').val();#}
      if (window.chatSocket){logreload();}

    var path =  "{{ root_path }}" + $('#searh_path').val();
    if (path) {
      {#window.chatSocket = new WebSocket(#}
      {#  'ws://' + window.location.host + '/ws/asset/' + $('#file').val() + '/');#}
      window.chatSocket = new WebSocket(
        {#'ws://' + window.location.host + '{% url "asset-url:local-tailf-websocket" %}'  + "?log_path={{ root_path }}" + path);#}
        'ws://' + window.location.host + '{% url "asset-url:local-tailf-websocket" %}'  + "?log_path=" + path);
      chatSocket.onmessage = function(e) {

        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += (message+'\n');
        // 跳转到页面底部
        $('#chat-log').scrollTop($('#chat-log')[0].scrollHeight);
      };



      chatSocket.onclose = function(e) {
          console.log(e)
        toastr.error('websocket已关闭！')
      };
    } else {
      toastr.warning('请填写要监听的日志文件')
    }
  }


  function logreload() {
      window.chatSocket.onclose = function(e) {
      toastr.success()
    };
            chatSocket.onerror = function(e) {
        toastr.success()
      };
    window.chatSocket.close();
  }
  function goclose() {

    window.chatSocket.onclose = function(e) {
      toastr.success('已终止日志监听！')
    };

    window.chatSocket.close();
  }
    </script>
        {% endblock %}